* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, #9174c4, #5377b7);
}
h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 40px;
  text-shadow: 4px 4px grey;
}

h2 {
  font-size: 3.5em;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 40px;
}

main {
  display: flex;
  margin: 60px auto;
  justify-content: center;
  line-height: 1.6em;
  flex-basis: auto;
}

div {
  position: relative;
  width: 270px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.first {
  background: linear-gradient(to right, #a190ce, #a190ce);
  align-self: center;
}

.second {
  background: linear-gradient(to right, #a190ce, #8990ca);
}

.third {
  background: linear-gradient(to right, #8990ca, #7f91c6);
  align-self: center;
}

li {
  list-style-type: none;
  margin: 10px auto;
  font-size: 1.3em;
}

button {
  width: 200px;
  height: 55px;
  margin: 30px auto;
  margin-top: 0;
  background: #fefd39;
  border: none;
  font-size: 1.3em;
  border-radius: 5px;
  box-shadow: 2px 2px grey;
}

hr {
  opacity: 0.3;
}

li:first-of-type {
  margin-bottom: 30px;
}

.icon {
  height: 1.3em;
}

@media (max-width: 480px) {
  main {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-wrap: nowrap;
  }
}
